{% extends "base.html" %}
{% block title %}Access Page{% endblock %}

{% block content %}

<div class="access-container">
    <div class="logos">
        <img src="/static/images/free_wifi.png" alt="Free wifi for all logo" class="freewifi-logo-small">
        <img src="/static/images/dict.png" alt="DICT logo" class="dict-logo-small">
    </div>
    
    <div class="access-header">
        <h1>Types of Access</h1>
    </div>

    <div class="types-of-access-btns">
        <button onclick="window.location = 'http://localhost:5000/dropsession'" type="submit" class="instant-access-btn">INSTANT ACCESS (100 MB)</button>
        <button onclick="window.location = 'http://localhost:5000/dropsession'" type="submit" class="registered-access-btn">REGISTERED ACCESS (1 GB)</button>
        <button onclick="window.location = 'http://localhost:5000/dropsession'" type="submit" class="cert-access-btn">CERT ACCESS (1 GB)</button>
    </div>
</div>

{% endblock %}